.idea/deployment.xml
.idea/jsLibraryMappings.xml
.idea/lqd-components.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/dictionaries/david.xml
.idea/inspectionProfiles/Project_Default.xml
page-metabox-template-include-plugin/.idea/deployment.xml
page-metabox-template-include-plugin/.idea/misc.xml
page-metabox-template-include-plugin/.idea/modules.xml
page-metabox-template-include-plugin/.idea/template-include-plugin.iml
page-metabox-template-include-plugin/.idea/workspace.xml
settings-page-plugin/.idea/deployment.xml
settings-page-plugin/.idea/misc.xml
settings-page-plugin/.idea/modules.xml
settings-page-plugin/.idea/php.xml
settings-page-plugin/.idea/settings-page-plugin.iml
settings-page-plugin/.idea/workspace.xml
.idea/.gitignore